{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('logout') }}" class="btn alert btn-md btn-danger" role="button" style="float: right;">Logout</a>
    {% endif %}

    <div class="container-fluid bg">
        <div class="row">

            <div class="col-md-12">
                        <h1 class="text-center " style="margin-top: 20%; text-align: center; color: #696969;">
                            Witamy w  {{ houseName }} !!
                        </h1>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-lg" role="group" >
                    <a href="{{ path('information') }}" class="btn btn-secondary" role="button" style="text-decoration: underline">
                        Informacje o mieszkańcach
                    </a>
                    <a href="{{ path('shopping_list', {'id':  userId}) }}" class="btn btn-secondary" role="button" style="text-decoration: underline">
                        Lista zakupow
                    </a>
                    <a href="{{ path('settlement', {'id':  userId}) }}" class="btn btn-secondary" role="button" style="text-decoration: underline">
                        Rozliczenie
                    </a>
                </div>
            </div>
            <div class="col-md-4">
            </div>

        </div>
    </div>
{% endblock %}