{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('logout') }}" class="btn alert btn-md btn-danger" role="button" style="float: right;">Logout</a>
    {% endif %}

    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-12">
            <h3 class="text-center" style="margin-top: 150px">
                Członkowie :
            </h3>
            <div class="container-fluid">
                <div class="row" style="margin-left: 300px">
                    <div class="col-md-8">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Email
                                </th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for user in users %}
                                <tr>
                                    <td>
                                       {{ loop.index }}
                                    </td>
                                    <td>
                                        {{ user.username|e }}
                                    </td>
                                    <td>
                                        {{ user.email|e }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <a href="{{ path('home_page') }}" class="btn btn-secondary" role="button">
                            Poprzednia strona
                        </a>
                    </div>
                </div>
            </div>



            </div>

        </div>
    </div>
{% endblock %}

