{% extends 'base.html.twig' %}



{% block body %}

    <div class="container-fluid bg">
        <div class="row" >
            <div class="col-md-8" >
                <div class="panel panel-default" style="margin-left: 400px; margin-top: 200px;">
                    <div class="panel-body" style = "border: 1px solid #FFFFFF; padding: 50px 60px; margin-top: 20vh;">
                        {{ form_start(form) }}
                        <div class="form_group" style="margin-left: -15px;" >
                            <div class="col-md-12">
                                {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form_group" style="margin-left: -15px;">
                            <div class="col-md-12 ">
                                {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form_group" style="margin-left: -15px;">
                            <div class="col-md-12 ">
                                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form_group" style="margin-left: -15px;">
                            <div class="col-md-12 ">
                                {{ form_row(form.house, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group "style="margin-left: -50px;" >
                            <div class="col-md-8"  >
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <a href="{{ path('home_page') }}" class="btn btn-secondary" role="button">
                            Poprzednia strona
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}