{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('logout') }}" class="btn alert btn-md btn-danger" role="button" style="float: right;">Logout</a>
    {% endif %}

    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-12">

            </div>

                       {#div class="col-md-8" style="margin-top: 100px">#}
                        <div class="col-md-3">
                            <div class="btn-group btn-group-vertical" role="group" style="margin-top: 150px">
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '01'}) }}" class="btn btn-secondary" role="button">Styczeń</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '02'}) }}" class="btn btn-secondary"  role="button">Luty</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '03'}) }}" class="btn btn-secondary"  role="button">Marzec</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '04'}) }}" class="btn btn-secondary"  role="button">Kwiecień</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '05'}) }}" class="btn btn-secondary"  role="button">Maj</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '06'}) }}" class="btn btn-secondary"  role="button">Czerwiec</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '07'}) }}" class="btn btn-secondary"  role="button">Lipiec</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '08'}) }}" class="btn btn-secondary"  role="button">Sierpień</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '09'}) }}" class="btn btn-secondary"  role="button">Wrzesień</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '10'}) }}" class="btn btn-secondary"  role="button">Październik</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '11'}) }}" class="btn btn-secondary"  role="button">Listopad</a>
                                <a href="{{ path('settlement' , {'id' : userId, 'month' : '12'}) }}" class="btn btn-secondary"  role="button">Grudzień</a>



                            </div>
                        </div>
                        <div class="col-md-6">

                            <table class="table"  style="margin-top: 150px">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Wydano:
                                    </th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for user in users %}

                                    <tr>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            {{ user.username|e }}
                                        </td>
                                        <td>
                                            {% for key, exp in expense %}
                                                {% if user.id == key %}
                                                    {{ exp }}
                                                {% endif %}{% endfor %}
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>

                            <a href="{{ path('home_page') }}" class="btn btn-secondary" role="button" style="float: initial">
                                Poprzednia strona
                            </a>
                        {#</div>#}
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>



            </div>

{% endblock %}

