{% extends 'base.html.twig' %}



{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('logout') }}" class="btn alert btn-md btn-danger" role="button" style="float: right;">Logout</a>
    {% endif %}

    <div class="container-fluid bg">
        <div class="row" >
            <div class="col-md-12" style="margin-top: 200px">
                <div class="row">


                    <div class="col-md-6">


                            <div class="panel-body" >
                                {{ form_start(form) }}
                                <div class="form_group" style="margin-left: -15px;" >
                                    <div class="col-md-8" style="text-align: center" >
                                        <h5>

                                        {{ form_row(form.name, {'label': 'Dodaj potrzebny produkt'}) }}
                                        </h5>
                                    </div>
                                </div>

                                <div class="form-group "style="margin-left: -50px;" >
                                    <div class="col-md-8"  >
                                    </div>
                                </div>
                                {{ form_end(form) }}

                            </div>
                    </div>


                    <div class="col-md-6" >


                            <div class="col-md-8">
                                <table class="table">
                                    <thead class="table-active">
                                    <tr>
                                        <th style="text-align: center">
                                            <h4>Lp.</h4>
                                        </th>
                                        <th style="text-align: center">
                                         <h4>Produkt</h4>
                                        </th>
                                        <th style="text-align: center">
                                            <h4>Cena     </h4>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if productNames is not null %}
                                    {% for key, productName in productNames %}
                                        <tr>
                                            <td class="table-active" style="text-align: center">
                                                <h5> {{ loop.index }}</h5>
                                            </td>
                                            <td>
                                                {{ productName }}
                                            </td>

                                            <form method="post" action="{{ path('bought' , {'id' : key}) }}">
                                            <td>
                                                <input type="number" min="0.00" max="10000.00" step="0.01" name="price"><br>
                                            </td>

                                                <td>
                                                    <input type="submit" value="Zakup" class="btn btn-outline-danger">
                                                </td>
                                            </form>





                                                {#<a href="{{ path('delete' , {'id' : key}) }}"#}
                                                   {#role="button" class="btn btn-outline-danger">#}
                                                    {#zakup#}
                                                {#</a>#}



                                        </tr>
                                    {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>

                            </div>



                </div>

                    <div class="row">
                        <div class="col-md-12">

                            <a href="{{ path('home_page') }}" class="btn btn-secondary" role="button" style="margin-left: 500px">
                                Poprzednia strona
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}