{% extends 'base.html.twig' %}

{% block body %}
    {% if errors %}
        {{ errors.messageKey }}
    {% endif %}

    <div class="container-fluid bg">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <form class="form-container" action="{{ path('login') }}" method="post">
                            <div class="form-group">

                                <label for="username">
                                    Username:
                                </label>
                                <input type="text" name="_username" class="form-control" id="inputEmail" />
                            </div>
                            <div class="form-group">

                                <label for="password">
                                    Password:
                                </label>
                                <input type="password" name="_password" class="form-control" id="inputPassword" />
                            </div>
                            <div class="form-group">

                                <p class="help-block">

                                </p>
                            </div>

                            <button type="submit" class="btn btn-success btn-block">
                                Login
                            </button>
                            <a href="{{ path('add_house') }}" class="btn active btn-md btn-info btn-block" role="button">Dodaj dom</a>

                            <a href="{{ path('registration') }}" class="btn active btn-md btn-info btn-block" role="button">Rejestracja</a>

                        </form>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
    </div>

{% endblock %}